# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Build outputs
dist/
*.local
*.cache

# Static files
*.env
*.env.local

# Vite-specific files
.vite/

# Temporary files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.swp

# TypeScript
*.tsbuildinfo
*.d.ts.map
